@media screen and (max-width: 360px) {
    .navText {
        font-size: 25px;
        color: lightgray;
        padding-top: 10px;
        text-transform: uppercase;
    }
    .page-header-title .heading-title {
        position:relative;
        top:0px;
        color: #676463;
        font-size: 12px;
        letter-spacing: 3px;
        font-family: Calibri(body);
        font-style: italic;
        font-weight: 200;
    }
    .fontType {
        font-size: 15px;
        margin-left: 0;
        padding: 0px;
        line-height: .9;
    }

    .fontType3 {
        font: Calibri !important;
        color: white;
        font-size: 25px;
        font-weight: bold;
        line-height: 1.0;
    }

    .fontType2 {
        position: relative;
        top: 40px;
        font: Calibri !important;
        color: dimgrey;
        font-size: medium;
    }
    #headers .header-content {
        padding: 10px 0;
    }
    .buttonRow {
        position: absolute;
        top: 475px;
        right: 105px;
        font-size: 15px !important;
    }
    img.softwareLogo1 {
        display: block;
        max-height:100px;
        width: auto;
    }
    img.softwareLogo2 {
        display: block;
        width: auto;
        height: auto;
    }
    img.softwareLogo3 {
        position: relative;
        top: 20px;
        display: block;
        max-height: 100px;
        width: auto;    
    }
    .navText {
        font-size: 12px;
        color: lightgray;
        padding-top: 10px;
        text-transform: uppercase;
    }
    .triangle {
        background-color: white;
    }
    .navBarStyle {
        background-color: #333333;
        font-size: large;
        color: darkgray;
    }
}
@media screen and (min-width: 361px) and (max-width: 640px) {
    .page-header-title .heading-title {
        margin-top: 5%;
        color: #676463;
        font-size: 15px;
        letter-spacing: 3px;
        font-family: Calibri(body);
        font-style: italic;
        font-weight: 200;
    }

    .fontType {
        font-size: 15px;
        margin-left: 0;
        padding: 0px;
        line-height: .9;
    }

    .fontType3 {
        font: Calibri !important;
        color: white;
        font-size: 25px;
        font-weight: bold;
        line-height: 1.0;
    }

    .fontType2 {
        position: relative;
        top: 40px;
        font: Calibri !important;
        color: dimgrey;
        font-size: medium;
    }

    #headers .header-content {
        padding: 10px 0;
    }

    .buttonRow {
        position: absolute;
        top: 475px;
        right: 200px;
        font-size: 15px !important;
    }

    img.softwareLogo1 {
        display: block;
        max-width: 75px;
        max-height: 75px;
        width: auto;
        height: auto;
    }

    img.softwareLogo2 {
        display: block;
        width: auto;
        height: auto;
    }

    img.softwareLogo3 {
        display: block;
        max-width: 75px;
        max-height: 50px;
        width: auto;
        height: auto;
    }

    .navText {
        font-size: 12px;
        color: lightgray;
        padding-top: 10px;
        text-transform: uppercase;
    }
    .triangle {
        
    }
}
