
body {
    font: Calibri !important;
}
/*top of index page*/
.backGroundImageIndex {
    background-position: 50% 10%;
    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
/*all other pages*/
.backGroundImage {
    background-position: 50% 10%;
    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#logoStyle {
    margin: 20% !important;
}
.navText {
    font-size: 25px;
    color: lightgray;
    padding-top: 10px;
    text-transform: uppercase;
}
.navTextDropDown {
    font-size: 12px;
    color: black;
    padding-top: 10px;
    text-transform: uppercase;
}

.footerStyle {
    background-color: #333333;
    font-size: large;
    color: black;
}
/**navbar**/

.navBarStyle {
    background-color: #333333;
    border-top-style: solid;
    border-width: 2px;
    border-color: darkblue;
    font-size: large;
    color: darkgray;
}
h4.div-centered {
    text-align: left;
    margin-left: 150px;
    width: 70%;
}
p.div-centered {
    font-size: 20px;
    text-align: left;
    margin-left: 200px;
    width: 70%;
}
.bottomM {
    margin-bottom:10%;
}
.topM {
    margin-top: 10%;
}
.dropDownMargin {
    margin-top: -2px;
}
/*mouse over dropdown menu*/
.dropbtn {
    background-color: #f1f1f1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 275px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: darkgray;
    min-width: 275px
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightgray;
}
/*end of mouse over */
/*-----------------------------------------------------*/
.fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.fadein {
    opacity: 1;
}

.triangle {
    clip-path: polygon( 
    5% 0, /* left top */
    100% 0, /* right top */
    100% 100%, /* right bottom */
    0 100% /* left bottom */
    );
    background-color: #f1f1f1
}

.heading-button {

    background-color: #f1f1f1
}
.zoom {
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

    .zoom:hover {
        z-index: 999;
        display: block;
        transform: scale(2.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
img.electricalImg {
    position:relative;
    right: 200px;
    bottom: 50px;
    display: block;
    width: 150%;
    height: auto;
}
img.electricalImg2 {
    position: relative;
    right: 200px;
    bottom: 50px;
    display: block;
    width: 150%;
    height: auto;
}

/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
#map {
    height: 100%;
}

img.main1 {
    max-width: 100%;
    height: 250px;
}
img.main2 {
    max-width: 100%;
    height: 250px;
}
img.main3 {
    max-width: 100%;
    height: 250px;
}
img.softwareLogo1 {
    max-width: 25%;
    height: 100px;
}
img.softwareLogo2 {
    max-width: 100%;
    height: 100px;
}
img.softwareLogo3 {
    max-width: 25%;
    height: 50px;
}
img.softwareLogo4 {
    max-width: 100%;
    height: 35px;
    margin-top: -15px;
    z-index: 1;
}
img.softwareLogo5 {
    max-width: 100%;
    height: 35px;
    margin-top: -15px;
    z-index: 1;
}
.fontType {
    font: Calibri !important;
    color: white;
    font-size: 25px;
    margin-left:65px;
}

.fontType3 {
    font: Calibri !important;
    color: white;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.0;
}

.fontType2 {
    position: relative;
    top: 40px;
    font: Calibri !important;
    color: dimgrey;
    font-size: medium;
}
.languagesCSS {
    position: relative;
    top: 50px;
    right: 50px;
}

img.prodDevImg {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}
.footerCSS {
    border-top: 10px;
    border-color: dimgray;
}